.profile {
  // padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileImage {
  img {
    width: 7rem;
    height: 7rem;
    border-radius: 999px;
    border: 5px ridge #cd5244;
  }
}
.info {
  height: 22rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.info_bio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.profile-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: #cd5244 ridge;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #ff877f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 50%;
  margin-bottom: 10px;
}
.profile-button:hover {
  background: #e86660;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
}
.info-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
}
@media (max-width: 768px) {
  .info-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
