.event {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.eventContainer {
  display: flex;
  flex-direction: column;
}
.eventHeading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
