@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

$background-color: #f4dedc;

.main__app {
  background: $background-color;
  width: auto;
  height: 150vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.app_container {
  background: radial-gradient(
    97.57% 291.93% at 0.94% 2.35%,
    rgba(255, 255, 255, 0.14) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: inset -2px -2px 5px rgba(255, 250, 250, 0.5),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 79vw;
}
.blob5 {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.blob4 {
  position: absolute;
  left: 2rem;
  top: 39rem;
  width: 15rem;
}
.blob6 {
  position: absolute;
  left: 3rem;
  top: 4rem;
}
.blob8 {
  position: absolute;
  right: 50rem;
  top: 15rem;
}
.blob7 {
  position: absolute;
  right: 5rem;
  top: 42rem;
  width: 10rem;
}

@media (max-width: 768px) {
  .main__app {
    height: 200vh;
  }
  .blob5 {
    display: none;
  }
  .blob4 {
    display: none;
  }
  .blob6 {
    display: none;
  }
  .blob8 {
    display: none;
  }
  .blob7 {
    display: none;
  }
}
